<footer class="section">
    <div class="container">
        <div class="pb-5 is-flex is-flex-wrap-wrap is-justify-content-between is-align-items-center">
            <div class="mr-auto mb-2">
                <a class="navbar-item pl-0" href="#">
                    <object type="image/svg+xml"
                        data="https://what-the-commit.com/bulma-plain-assets/logos/robot_light_grey.svg" width="80"
                        style="position: relative;
    left: -20px;">
                        WTC Logo
                        <!-- fallback image in CSS -->
                    </object>
                    <h1 class="title has-text-weight-bold">What the commit</h1>
                </a>
            </div>
            <div>
                <ul class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-center">
                    <li class="mr-4">
                    <li class="mr-4">
                    <li class="mr-4">
                    <li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
    <div class="container">
        <div class="is-flex-tablet is-justify-content-between is-align-items-center">
            <p>All rights reserved © What the commit by Kevin Mauel<a style="top: 5px;
    position: relative;" href="https://twitter.com/bavragor94" target="_blank">
                    <img src="https://what-the-commit.com/bulma-plain-assets/socials/twitter.svg" alt=""></a><a style="top: 5px;
    position: relative;" href="https://www.linkedin.com/in/kevin-mauel-656997134/" target="_blank">
                    <img src="https://what-the-commit.com/bulma-plain-assets/socials/linkedin.svg" alt=""></a></p>
            <div class="py-2 is-hidden-tablet"></div>
            <div class="ml-auto">

                <a class="mr-4 is-inline-block" href="https://twitter.com/wtc_nft" target="_blank">
                    <img src="https://what-the-commit.com/bulma-plain-assets/socials/twitter.svg" alt=""></a>
                <a class="mr-4 is-inline-block" href="https://discord.com/invite/pertRZCmmP" target="_blank">
                    <img src="https://what-the-commit.com/bulma-plain-assets/logos/discord_black.svg" alt=""
                        width="28"></a>
                <a class="mr-4 is-inline-block" href="https://opensea.io/collection/what-the-commit" target="_blank">
                    <img src="https://what-the-commit.com/bulma-plain-assets/socials/opensea.svg" alt="" width="24"></a>
                <a class="mr-4 is-inline-block" href="https://github.com/Bavragor/what-the-commit" target="_blank">
                    <img src="https://what-the-commit.com/bulma-plain-assets/socials/github.svg" alt=""></a>
                <a class="mr-4 is-inline-block" href="#">
                </a>
                <a class="is-inline-block" href="#">
                </a>
            </div>
        </div>
    </div>
</footer>